 .navigation {
     @apply bg-gray-50 p-6 fixed w-screen top-0 z-20 flex flex-row items-center dark:bg-gray-800;
     border-bottom: 1px solid white;

     ul {
         @apply inline-block
     }

     li {
         @apply inline-block;
     }

     a {
         @apply px-6 py-4 no-underline hover:underline underline-offset-2;
     }

     &>button {
         @apply self-end w-[30px] h-[30px] float-right;
         transform: translateY(-50%);
     }
 }

 .image-slides {
     @apply w-full overflow-hidden relative;
     max-width: 600px;
     max-height: 400px;
     margin: 0 auto;

     .arrow-button {
         @apply absolute h-full bg-gray-50 hidden opacity-90 text-gray-400 font-bold text-5xl items-center hover:bg-gray-400 hover:text-gray-200 cursor-pointer select-none z-10;
         width: 40px;
     }

     &:hover .arrow-button {
         @apply flex;
     }

     li {
         @apply bg-gray-50 dark:bg-gray-600;
     }

     &:hover li {
         @apply bg-gray-200 dark:bg-gray-600;

         transition: background-color 0.1s ease-out;
     }

     ul {
         transition: transform 0.3s ease-in-out;
     }

     li {
         @apply object-contain max-w-[600px] max-h-[400px];

         img {
             @apply mx-auto inline-block;
         }
     }
 }

 .project-brief {
     @apply flex flex-row border border-gray-200 rounded-md overflow-hidden cursor-pointer mb-2 dark:border-gray-500 h-[100px];

     .project-brief-image-container {
         img.project-brief-image {
             @apply object-cover w-[100px] h-[100px];
         }
     }

     div.project-brief-details {
         @apply p-1 pl-2 w-full dark:bg-gray-800 dark:text-gray-100;

         &:hover {
             box-shadow: inset 3000px 0 0 0 #4b5563;
         }

         &:hover * {
             @apply text-white dark:text-gray-400;
         }

         transition: box-shadow .3s ease-in,
         color .3s ease-in;

         .project-brief-title {
             @apply text-2xl;
         }
     }
 }

 .theme-switcher {
     @apply w-[50px] h-[50px] relative cursor-pointer;

     button {
         @apply w-[50px] h-[50px] absolute top-0 left-0;

         i {
             @apply block;
         }

         svg {
             @apply h-full w-full;
         }
     }

     .theme-switch-icon {
         @apply select-none inline absolute;
     }
 }

 .default-link {
     @apply underline hover:no-underline;
 }

 .about-container {
     @apply flex flex-row gap-10;

     img {
         @apply mx-auto mb-12 max-w-[300px] rounded-full;
     }
 }

 @media screen and (max-width: 780px) {
     .about-container {
         @apply block;
     }

     .projects {

         div {
             @apply block;
         }

         .filters {
             @apply w-full mb-8;
         }
     }
 }
