@keyframes start-menu-appear {
    0% {
        transform: scaleY(0) scaleX(0.4) translateY(-100%);
        pointer-events: none;
    }

    99% {
        pointer-events: none;
    }

    100% {
        transform: scaleY(1) scaleX(1) translateY(-100%);
        pointer-events: all;
    }
}

.start-menu-appear {
    animation-name: start-menu-appear;
    animation-duration: 0.2s;
    transform-origin: bottom left;
}
