@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body,
#root {
    @apply relative h-[100vh] min-w-[320px] dark:bg-gray-700 overflow-clip;
}

@layer components {
    * {
        @apply text-gray-600 dark:text-gray-300;
    }

    p {
        @apply mb-2;
    }


    .theme-switcher {
        @apply w-[50px] h-[50px] relative;

        button {
            @apply w-[50px] h-[50px] absolute top-0 left-0;

            svg {
                @apply h-full w-full;
                transform: translate3d(-50%, -50%, 0) scale(50%);
            }
        }

        button.hidden {
            display: none;
        }
    }

}

@media screen and (max-width:650px) {}
