@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body,
#root {
    /* @apply relative h-[100vh] min-w-[320px] dark:bg-gray-700 overflow-clip; */
    @apply relative h-[100vh] min-w-[320px] dark:bg-gray-700;
}

@layer components {
    * {
        @apply text-gray-600 dark:text-gray-300;
    }

    p {
        @apply mb-2;
    }

    .taskbar {
        @apply bg-red-500 absolute bottom-0 w-screen dark:bg-gray-800 min-h-[50px] z-20;

        &>div {
            @apply inline-block h-full items-center;
        }

        .tasks {
            @apply flex;

            .start-button {
                @apply bg-red-700 flex items-center px-4 h-[50px] mr-1;
            }

            .task {
                @apply inline-flex items-center h-[50px] bg-red-800;
            }
        }

        .options {
            @apply flex bg-blue-600 absolute right-0 top-0 items-center;
        }
    }

    .theme-switcher {
        @apply w-[50px] h-[50px] relative;

        button {
            @apply w-[50px] h-[50px] absolute top-0 left-0;

            svg {
                @apply h-full w-full;
                transform: scale(50%);
            }
        }

        button.hidden {
            display: none;
        }
    }

    .desktop {
        @apply h-screen bg-lime-500 pb-[60px] grid p-2;
        grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-auto-flow: column;
        grid-gap: 0.3rem;

        .desktop-icon {
            @apply flex justify-center flex-col w-32 p-2 hover:bg-gray-100 rounded cursor-pointer select-none;


            &.selected {
                @apply bg-gray-100;
            }

            .image-icon,
            img {
                @apply mx-auto;
                width: 50px;
                height: 50px;
            }

            .title {
                @apply mx-auto text-center mt-2;
            }
        }
    }

    .desktop-window {
        @apply absolute bg-sky-500 top-0 left-0 min-w-[360px];

        &.front {
            @apply bg-sky-900;
        }

        .window-titlebar {
            @apply relative bg-zinc-50 h-[30px] flex items-center pl-2;

            .window-title {}

            .buttons {
                @apply absolute right-0 top-0;

                &>* {
                    @apply inline-block;
                }
            }
        }
    }
}

@media screen and (max-width:650px) {}
